<div class="--justified --mt">
    <h2>What is Exodus?</h2>
    <p>The improvement of the means of communication and transportation produced 
        in the last decades, as well as the diplomatic facilities, and 
        permeability of the international borders in many parts of the world, 
        have caused a significant increase in medium and long-term migratory flows, 
        mainly for labor reasons; this trend will continue to increase and accelerate 
        during this century according to various predictions.
    </p>
    <p>
        This series of migrations, which occur on a larger and larger scale, often 
        makes the choice of the final destination in a slightly arbitrary way and 
        with little knowledge of the target region or city.  
    </p>
    <p>
        Almost always the ideal pursued behind this type of migration is that of 
        improving the quality of life today. But this can lead us to a great 
        question, What is the quality of life?
    </p>
    <p>
        Quality of life is an ideal shaped by the grouping of numerous factors. 
        However, not all people give importance to the same factors, or to the same 
        degree. Therefore, we can deduce that quality of life is a subjective 
        parameter dependent on each subject, hence the importance of making this 
        index in this way instead of selecting other already established indices 
        such as HDI and GGI among many others.
    </p>
    <h2>How does it work?</h2>
    <p>
        First of all, the indexes considered with big relevance for every people are the followings:
    </p>
    <ul>
        <li>Health</li>
        <li>Infraestructure</li>
        <li>Environment</li>
        <li>Air pollution</li>
        <li>Safety</li>
        <li>Rent</li>
        <li>Employment</li>
        <li>Diversity</li>
        <li>Traffic</li>
    </ul>
    <p>Sources of data for all of these indexes are the followings: </p>
    <ul>
        <li> <a href="https://www.numbeo.com/api/doc.jsp">Numbeo data API</a> </li>
        <li> <a href="https://data.worldbank.org/">World Bank Open Data</a> </li>
    </ul>
    <p>Each of the indexes are also calculated in base of more subindexes, and indicate information relative
        to the city, or to the country each city belongs to.
    </p>
    <h4>Example of index calculator: Rent</h4>
    <p>To calculate the rent index of one city, we have the following values available: Salary, Cost of life, 
        Purchasing power, Net savings and Inflation rate. Each of these values is pondered from 1 to 5 depending
        on its positive or negative influence to us, being 1 very negative and 5 very positive. Then all are combined
        in a summatory and divided by the number of them. Finally we normalize these values to adapt them to a scale of 0 to 100.
    </p>
    <p>
        Example of city rent calculation: Zurich, Switzerland <br>
        (5+2+5+4+5)/5 = 21/5 → 4,1*20 → 82; so rent index for Zurich according to our data and calculations would be 82.
    </p>
    <p>
        To each range of values we assign a color pattern to easily recognise which cities have better results in the different
        indexes. This colors goes from red for very negative values to dark green for very positive ones. According to this, 
        the color assigned to Zurich's rent index would be dark green (very positive).
    </p>
</div>
