.--mt {
    padding-top: 50px;
}

.--indent p{
    text-indent: 5em;
}

.--justified {
    text-align: justify;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    max-width: 100%;
}